$yellow-color: #ffff3f;
$white-color: #ffffff;
$blue-color: #0000af;
$red-color: #c70000;
$black-color: #000000;
$grey-color: #acacac;
$aqua-color: #00acac;
$green-color: #00ff3f;


@font-face {
    font-family: 'OldStyleFonts';
    src: url('PxPlus_IBM_VGA8.ttf') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('PxPlus_IBM_VGA8.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}


* {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    text-decoration: none;
    font-size: 1.1em;
    font-family: OldStyleFonts;
    text-align: center;
}


body {
    color: $yellow-color;
    background-color: $blue-color;
    position: relative;
    min-height: 95vh;



    #content {
        margin-top: 50px;
        padding-bottom: 50px;
    }

    #navbar {
        position: fixed;
        top: 0;
        width: 100%;
        display: block;

        ul {
            padding: 0 5%;

            li {
                padding: 0 2%;
                float: right;
            }
        }
    }


    #footer, #navbar {
        color: $black-color;
        background-color: $grey-color;

        ul {
            li {
                display: block;

                a {
                    color: $black-color;
                }
            }
        }

        ul > li:hover {
            background-color: $red-color;

            a {
                color: $yellow-color;
            }
        }
    }

    #footer {
        position: absolute;
        bottom: 0;
        width: 100%;

        ul {
            li {
                padding: 0 20px;
                display: inline-block;
            }
        }
    }
}

#homeAbout {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    margin: auto;
    flex-direction: column;

    div {
        font-size: 0.9em;
        width: 100%;

        h2 {
            color: $aqua-color;
            padding: 10px 0;
            text-align: left;
        }

        h3 {
            color: $white-color;
            padding: 15px 0;
            text-align: left;
            font-size: 1em;
        }

        p {
            padding: 5px 0;
            text-align: left;
            font-size: 0.9em;

            a {
                font-size: 1em;
                color: $yellow-color;
            }
        }
    }
}

#homeIndex {
    #title {
        height: 40vh;
    }

    #projectsWindow {
        background-color: $aqua-color;
        width: 80%;
        margin: auto;

        a {
            input {
                border: 2px solid $black-color;
                padding: 5px;
                margin: 40px 0 20px 0;
                cursor: pointer;
                background-color: $grey-color;
            }
        }
    }

    h1 {
        padding: 40px 0;
        color: $red-color;
    }

    h3 {
        padding: 20px 0;
        font-size: 1em;
        color: $white-color;
    }

    p {
        padding: 10px 0;
        font-size: 0.9em;
    }

    a {
        color: $yellow-color;
    }
}

@media screen and (max-width: 1000px) {
    #homeAbout {
        width: 75vw;
    }
}

@media screen and (max-width: 750px) {

    #homeAbout {
        width: 95vw;
    }

    #footer, #navbar {
        font-size: 0.9em;
    }

    #homeIndex {

        #title {
            height: 25vh;
        }

        #projectsWindow {
            width: 100%;

            a {
                input {
                    margin: 20px 0 10px 0;
                }
            }
        }

        h1 {
            padding: 20px 0;
        }

        h3 {
            padding: 10px 0;
        }

        p {
            padding: 5px 0;
        }
    }
}

.link-in-text:hover {
    background-color: $red-color;
}
