@charset "UTF-8";
@font-face {
  font-family: 'OldStyleFonts';
  src: url("PxPlus_IBM_VGA8.ttf") format("woff"), url("PxPlus_IBM_VGA8.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */ }

* {
  padding: 0;
  margin: 0;
  outline: none;
  text-decoration: none;
  font-size: 1.1em;
  font-family: OldStyleFonts;
  text-align: center; }

body {
  color: #ffff3f;
  background-color: #0000af;
  position: relative;
  min-height: 95vh; }
  body #content {
    margin-top: 50px;
    padding-bottom: 50px; }
  body #navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: block; }
    body #navbar ul {
      padding: 0 5%; }
      body #navbar ul li {
        padding: 0 2%;
        float: right; }
  body #footer, body #navbar {
    color: #000000;
    background-color: #acacac; }
    body #footer ul li, body #navbar ul li {
      display: block; }
      body #footer ul li a, body #navbar ul li a {
        color: #000000; }
    body #footer ul > li:hover, body #navbar ul > li:hover {
      background-color: #c70000; }
      body #footer ul > li:hover a, body #navbar ul > li:hover a {
        color: #ffff3f; }
  body #footer {
    position: absolute;
    bottom: 0;
    width: 100%; }
    body #footer ul li {
      padding: 0 20px;
      display: inline-block; }

#homeAbout {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  margin: auto;
  flex-direction: column; }
  #homeAbout div {
    font-size: 0.9em;
    width: 100%; }
    #homeAbout div h2 {
      color: #00acac;
      padding: 10px 0;
      text-align: left; }
    #homeAbout div h3 {
      color: #ffffff;
      padding: 15px 0;
      text-align: left;
      font-size: 1em; }
    #homeAbout div p {
      padding: 5px 0;
      text-align: left;
      font-size: 0.9em; }
      #homeAbout div p a {
        font-size: 1em;
        color: #ffff3f; }

@media screen and (max-width: 1000px) {
  #homeAbout {
    width: 75vw; } }

@media screen and (max-width: 750px) {
  #homeAbout {
    width: 95vw; }
  #footer, #navbar {
    font-size: 0.9em; } }

.link-in-text:hover {
  background-color: #c70000; }
