@charset "UTF-8";
@font-face {
  font-family: 'OldStyleFonts';
  src: url("PxPlus_IBM_VGA8.ttf") format("woff"), url("PxPlus_IBM_VGA8.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */ }

* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  text-decoration: none;
  font-size: 1.1em;
  font-family: OldStyleFonts;
  text-align: center; }

body {
  color: #ffff3f;
  background-color: #0000af;
  position: relative;
  min-height: 95vh; }
  body #content {
    margin-top: 50px;
    padding-bottom: 50px; }
  body #navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    z-index: 999; }
    body #navbar ul {
      padding: 0 5%; }
      body #navbar ul li {
        padding: 0 2%;
        float: right; }
  body #footer, body #navbar {
    color: #000000;
    background-color: #acacac; }
    body #footer ul li, body #navbar ul li {
      display: block; }
      body #footer ul li a, body #navbar ul li a {
        color: #000000; }
    body #footer ul > li:hover, body #navbar ul > li:hover {
      background-color: #c70000; }
      body #footer ul > li:hover a, body #navbar ul > li:hover a {
        color: #ffff3f; }
  body #footer {
    position: absolute;
    bottom: 0;
    width: 100%; }
    body #footer ul li {
      padding: 0 20px;
      display: inline-block; }

#homeAbout {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  margin: auto;
  flex-direction: column; }
  #homeAbout div {
    font-size: 0.9em;
    width: 100%; }
    #homeAbout div h2 {
      color: #00acac;
      padding: 10px 0;
      text-align: left; }
    #homeAbout div h3 {
      color: #ffffff;
      padding: 15px 0;
      text-align: left;
      font-size: 1em; }
    #homeAbout div p {
      padding: 5px 0;
      text-align: left;
      font-size: 0.9em; }
      #homeAbout div p a {
        font-size: 1em; }

#homeIndex #title {
  height: 25vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column; }

#homeIndex #projectsWindow {
  background-color: #00acac;
  width: 80%;
  margin: auto; }
  #homeIndex #projectsWindow a input {
    border: 2px solid #000000;
    padding: 5px;
    margin: 40px 0 20px 0;
    cursor: pointer;
    background-color: #acacac; }

#homeIndex h1 {
  padding: 40px 0;
  color: #c70000; }

#homeIndex h3 {
  padding: 20px 0;
  font-size: 1em;
  color: #ffffff; }

#homeIndex p {
  padding: 10px 0;
  font-size: 0.9em; }

#homeIndex a {
  color: #ffff3f; }

#projectIndex .projects-container {
  background-color: #00acac; }
  #projectIndex .projects-container a {
    color: #ffff3f; }

#projectTag h3 {
  margin-bottom: 10px;
  font-size: 1.1em; }

#projectTag .projects-container {
  background-color: #00acac; }
  #projectTag .projects-container a {
    color: #ffff3f; }

#projectDetail {
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  padding-bottom: 30px; }
  #projectDetail h3 {
    padding-bottom: 10px; }
  #projectDetail .slideshow-container {
    padding-bottom: 20px;
    max-width: 80vw;
    max-height: 50vh;
    position: relative;
    margin: auto; }
    #projectDetail .slideshow-container .mySlides {
      display: none; }
    #projectDetail .slideshow-container .prev, #projectDetail .slideshow-container .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      margin-top: -22px;
      padding: 16px;
      color: #c70000;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none; }
    #projectDetail .slideshow-container .next {
      right: 0;
      border-radius: 3px 0 0 3px; }
    #projectDetail .slideshow-container .prev {
      left: 0; }
    #projectDetail .slideshow-container .prev:hover, #projectDetail .slideshow-container .next:hover {
      background-color: #acacac; }
    #projectDetail .slideshow-container .active, #projectDetail .slideshow-container .dot:hover {
      background-color: #717171; }
    #projectDetail .slideshow-container .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s; }
    #projectDetail .slideshow-container img {
      object-fit: scale-down;
      max-width: 80vw;
      max-height: 50vh; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }
  #projectDetail p {
    padding-bottom: 10px;
    width: 80%;
    margin: auto; }
  #projectDetail a {
    color: #c70000; }
    #projectDetail a i {
      padding: 5px;
      border: 1px solid #0000af; }
  #projectDetail a:hover i {
    background-color: #000000;
    border: 1px solid #000000; }
  #projectDetail .project-tags-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px; }
    #projectDetail .project-tags-container a {
      color: #ffff3f;
      margin: 5px;
      background-color: #acacac;
      border: 1px solid #000000;
      padding: 2px;
      display: block; }

#adminLogin, #adminRegistration {
  color: #000000; }
  #adminLogin *, #adminRegistration * {
    font-family: sans-serif; }
  #adminLogin form, #adminRegistration form {
    padding-bottom: 20px; }
    #adminLogin form div, #adminRegistration form div {
      padding: 10px 0; }

#adminIndex {
  display: flex; }
  #adminIndex * {
    font-family: sans-serif;
    color: #000000; }
  #adminIndex #leftPart {
    flex-basis: 30vw;
    background-color: #00acac;
    border-right: 1px solid #c70000;
    min-height: 100vh;
    padding-bottom: 20px 0 5px 0;
    display: flex;
    flex-direction: column; }
    #adminIndex #leftPart h3 {
      border-bottom: 2px solid #000000; }
    #adminIndex #leftPart iframe {
      height: 100%;
      width: 100%; }
  #adminIndex #rightPart {
    display: flex;
    flex-direction: column;
    flex-basis: 70vw;
    background-color: #acacac;
    padding-bottom: 20px 5px; }
    #adminIndex #rightPart form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      #adminIndex #rightPart form input, #adminIndex #rightPart form textarea, #adminIndex #rightPart form button {
        margin-bottom: 20px;
        font-size: 0.9em; }
      #adminIndex #rightPart form textarea, #adminIndex #rightPart form input {
        width: 80%;
        max-width: 60vw;
        margin-left: auto;
        margin-right: auto;
        text-align: start; }
      #adminIndex #rightPart form .button-block {
        display: flex;
        justify-content: center; }
      #adminIndex #rightPart form button {
        width: auto;
        max-width: 150px;
        margin: 10px;
        padding: 5px;
        cursor: pointer; }

#adminAllProjects {
  background-color: #00acac; }
  #adminAllProjects * {
    font-family: sans-serif;
    color: #000000; }
  #adminAllProjects .project-name {
    border-bottom: 1px solid #000000; }

@media screen and (max-width: 1000px) {
  #homeAbout {
    width: 75vw; }
  .project-container-changable .projects-container {
    width: 90%; }
    .project-container-changable .projects-container .project-container {
      width: 90%;
      height: auto;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 0 0 0 5px; }
      .project-container-changable .projects-container .project-container h5 {
        text-align: start; }
      .project-container-changable .projects-container .project-container .project-preview {
        display: none; }
      .project-container-changable .projects-container .project-container .project-tags-container {
        justify-content: flex-start;
        align-items: flex-start; } }

@media screen and (max-width: 750px) {
  #homeAbout {
    width: 95vw; }
  #footer, #navbar {
    font-size: 0.9em; }
  #homeIndex #title {
    height: 25vh; }
  #homeIndex #projectsWindow {
    width: 100%; }
    #homeIndex #projectsWindow a input {
      margin: 20px 0 10px 0; }
  #homeIndex h1 {
    padding: 20px 0; }
  #homeIndex h3 {
    padding: 10px 0; }
  #homeIndex p {
    padding: 5px 0; } }

.link-in-text {
  color: #c70000; }

.link-in-text:hover {
  background-color: #c70000;
  color: #ffff3f; }

.projects-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  padding: 10px 0;
  margin: auto; }
  .projects-container .project-container {
    width: 380px;
    height: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #0000af;
    font-size: 0.8em;
    margin: 5px; }
    .projects-container .project-container .project-preview img {
      width: 350px;
      height: 300px;
      object-fit: scale-down; }
    .projects-container .project-container .project-tags-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center; }
      .projects-container .project-container .project-tags-container a {
        margin: 5px;
        background-color: #acacac;
        border: 1px solid #000000;
        font-size: 0.9em;
        padding: 2px;
        display: block; }
