

<div id="adminIndex">
    <div id="leftPart">
        <h3>Проекты</h3>
        <p class="project-name">PR 1</p>
    </div>
    <div id="rightPart">
        <h3>Добавление/удаление/изменение</h3>
        <form method="post">
            <input type="text" placeholder="Имя" />
            <textarea placeholder="Описание"></textarea>
            <input type="url" placeholder="Ссылка на гитхаб" />
            <textarea placeholder="Тэги"></textarea>
            <textarea placeholder="Картинки (ссылки на них)"></textarea>
            <div class="buttonBlock">
                <button type="submit" value="Добавить">Добавить</button>
                <button type="submit" value="Изменить">Изменить</button>
                <button type="submit" value="Удалить">Удалить</button>
            </div>
        </form>
    </div>
</div>