@model ResumeWebSite.Models.Project.ProjectAdminModel

<div id="adminIndex">
    <div id="leftPart">
        <h3>Проекты</h3>
        <iframe src="/admin/allProjects"></iframe>
    </div>
    <div id="rightPart">
        <h3>Добавление/удаление/изменение</h3>
        <form method="post">
            @if (Model != null)
            {
                <input asp-for="Id" style="display:none" />
                <input asp-for="ProjectName" type="text" placeholder="Имя" />
                <textarea asp-for="ProjectDescription" placeholder="Описание"></textarea>
                <input asp-for="ProjectGitHubLink" type="url" placeholder="Ссылка на гитхаб" />
                <textarea asp-for="Tags" placeholder="Тэги"></textarea>
                <textarea asp-for="Pictures" placeholder="Картинки (ссылки на них)"></textarea>
            }
            else
            {
                <input asp-for="Id" style="display:none" />
                <input asp-for="ProjectName" type="text" placeholder="Имя" />
                <textarea asp-for="ProjectDescription" placeholder="Описание"></textarea>
                <input asp-for="ProjectGitHubLink" type="url" placeholder="Ссылка на гитхаб" />
                <textarea asp-for="Tags" placeholder="Тэги"></textarea>
                <textarea asp-for="Pictures" placeholder="Картинки (ссылки на них)"></textarea>
            }
            <p>Добавление тэгов/картинок через запятую (tag1,tag2,tag3,...).</p>

            <div class="buttonBlock">
                <button type="submit" asp-action="Add" asp-controller="Admin">Добавить</button>
                <button type="submit" asp-action="Change" asp-controller="Admin">Изменить</button>
                <button type="submit" asp-action="Delete" asp-controller="Admin">Удалить</button>
            </div>
        </form>
        <h3>Заполнить выбранным проектом из списка</h3>
        <form method="get" asp-action="Index" asp-controller="Admin">
            <input type="text" placeholder="Id" asp-for="Id" />
            <button type="submit">Заполнить</button>
        </form>
    </div>
</div>