@model ResumeWebSite.Models.Admin.AdminRegistrationModel

<div id="adminLogin" class="change-font">
    <form asp-action="registration" asp-controller="admin" asp-anti-forgery="true">
        <div asp-validation-summary="ModelOnly" />
        <div>
            <div>
                <label asp-for="Email">Введите Email</label><br />
                <input type="email" asp-for="Email" />
                <span asp-validation-for="Email" />
            </div>
            <div>
                <label asp-for="Login">Введите логин</label><br />
                <input asp-for="Login" type="text" />
                <span asp-validation-for="Login" />
            </div>
            <div>
                <label asp-for="Password">Введите пароль</label><br />
                <input asp-for="Password" type="password" />
                <span asp-validation-for="Password" />
            </div>
            <div>
                <input type="submit" value="Регистрация" />
            </div>
        </div>
    </form>
</div>