

<div id="homeAbout">
    <div>
        <h2>Образование</h2>
        <p>Окончил МИВлГУ по специальности "Информационная безопасность" с отличием. Дипломная работа связана с криптографией (алгоритмы с нулевым разглашением секрета, шифрование с закрытым ключем).</p>
        <p>Получены сертификаты на <a href="https://www.freecodecamp.org/madehim" class="link-in-text">freeCodeCamp</a> по блокам Responsive Web Design, JavaScript, Front End Libraries.</p>
        <p>Завершено достаточно упражнений, для получения сертификата на <a href="http://www.sql-ex.ru/users_page.php?uid=483803" class="link-in-text">sql-ex.ru</a>. <a href="https://github.com/madehim/sql-ex.Solutions" class="link-in-text">Код решения упражнений доступен на гитхабе.</a></p>
        <p>Алгоритмические задачки на <a href="https://www.codewars.com/users/madehim" class="link-in-text">Codewars</a>.</p>
    </div>
    <div>
        <h2>Технические навыки</h2>
        <h3>Технологии и фреймворки</h3>
        <p>.NET, Git/GitHub, SCSS, React</p>
        <h3>Языки программирования</h3>
        <p>C#, JavaScript, HTML/CSS, T-SQL</p>
    </div>
    <div>
        <h2>Языки</h2>
        <p>Русский - родной</p>
        <p>Английский - чтение/восприятие на слух B1(Intermediate), письмо/разговорный A2-B1(недостаточно практики)</p>
    </div>
    <div>
        <h2>Прочитанные книги</h2>
        <h3>CS</h3>
        <p>Эндрю Таненбаум, Херберт Бос «Современные операционные системы»</p>
        <p>Эндрю Таненбаум, Дэвид Уэзеролл «Компьютерные сети»</p>
        <p>Эндрю Таненбаум, Тодд Остин «Архитектура компьютера»</p>
        <h3>C#, .NET</h3>
        <p>RB Whitaker «The C# Player's Guide»</p>
        <p>Jeffrey Richter «CLR via C#»</p>
        <p>Ben Watson «Writing High Performance .NET Code»</p>
        <p>Сергей Тепляков «Паттерны проектирования на платформе .NET»</p>
    </div>
    <div>
        <h3>Хобби/качества</h3>
        <p>Способен быстро обучаться и усваивать новые концепции и технологии</p>
        <p>Имею хорошие аналитические способности</p>
        <p>Хочется получить опыт командной работы над масштабируемыми проектами и актуальными технологиями. В дальнейшем расти до фулстэк разработчика.</p>
        <p>Интересуюсь новинками на рынке комьютерного железа</p>
        <p>Ценю classic rpg игры</p>
    </div>
</div>