
<div id="homeIndex">
    <div id="title">
        <div>name</div>
    </div>
    <div id="projectWindow">
        <div>
            Project Container
            <div>Project1</div>
            <div>Project2</div>
            <div>Project3</div>
        </div>
        <div>linkToAllProject</div>
    </div>
</div>