<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/css/site.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
</head>
<body>
    <nav id="navbar">
        <ul>
            <li><a href="#">Главная</a></li>
            <li><a href="#">Проекты</a></li>
        </ul>
    </nav>
    <main id="content">
        @RenderBody()
    </main>
    <footer id="footer">
        <ul>
            <li><a href="https://github.com/madehim" target="_blank"><i class="fab fa-github"></i> GitHub</a></li>
            <li><a href="skype:profile_name?userinfo"><i class="fab fa-skype"></i> Skype</a></li>
            <li><a href="mailto:madehim.work@gmail.com"><i class="fas fa-envelope"></i> Email</a></li>
            <li><a href="tel:+79106753653"><i class="fas fa-mobile"></i> Mobile</a></li>
        </ul>
    </footer>
</body>
</html>