<!DOCTYPE html>

<html>
<head>
    <meta name="author" content="Дмитрий Волков" lang="ru" />
    <meta name="author" content="Dmitry Volkov" lang="en-us" />
    <meta name="description" content="Сайт портфолио/резюме" />
    <meta name="keywords" content="C#, .NET, разработчик, портфолио, резюме" />
    <link rel="stylesheet" href="~/css/site.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <title>@ViewBag.Title</title>
    <link rel="icon" type="image/x-icon" href="#" />
</head>
<body>
    <nav id="navbar">
        <ul>
            @if (User.Identity.IsAuthenticated)
            {
                <li><a asp-controller="Admin" asp-action="Logout">Выход</a></li>
                <li><a asp-controller="Admin" asp-action="Index">Админка</a></li>
            }
            <li><a asp-controller="Home" asp-action="Index">Главная</a></li>
            <li><a asp-controller="Home" asp-action="About">Обо мне</a></li>
            <li><a asp-controller="Project" asp-action="Index">Проекты</a></li>
        </ul>
    </nav>
    <main id="content">
        @RenderBody()
    </main>
    <footer id="footer">
        <ul>
            <li><a href="https://github.com/madehim" target="_blank"><i class="fab fa-github"></i> GitHub</a></li>
            <li><a href="skype:profile_name?userinfo"><i class="fab fa-skype"></i> Skype</a></li>
            <li><a href="mailto:madehim.work@gmail.com"><i class="fas fa-envelope"></i> Email</a></li>
            <li><a href="tel:+79106753653"><i class="fas fa-mobile"></i> Mobile</a></li>
        </ul>
    </footer>
</body>
</html>